<div class="header">
    <div class="brand">Pokémon SDK Wiki</div>
    <ul class="site_links">
        <li><a href="fr/index.html">Accueil</a></li>
        <li>
            <details class="dropdown">
                <summary>Tutoriels</summary>
                <div>
                    <a href="fr/event_making/index.html">Event Making</a>
                    <a href="fr/ruby_host/index.html">Edition BDD</a>
                </div>
            </details>
        </li>
    </ul>
    <div class="credits"><a href="en/./credits.html">Crédits</a></div>
</div>