<div class="footer">
    <div class="copy">
        <div>
            <p>© Pokémon Workshop - Reproduction non autorisée</p>
            <p>Contribuer au Wiki : <a href="https://gitlab.com/NuriYuri/wiki_sdk">Wiki SDK Sources</a></p>
        </div>
    </div>
    <div class="ph"><iframe src="https://www.assets.planethoster.com/iframe.html" marginwidth="0" marginheight="0" hspace="0" vspace="0" scrolling="no" width="180" height="65" frameborder="0"></iframe></div>
</div>